:root {
  --primary: #B07E4F;
  --bg: #f1eaea;

}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins' , sans-serif;
  background-color: #fff;
  color: #fff;
  min-height: 2000px;


}

/* Navbar */
.navbar {
  /* display: flex; */

  /* align-items: center; */
  padding: 0.5rem 7%;
  background-color: #fff;
  border-bottom: 1px solid #c7c5c2c4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  margin: auto;
  transition-duration: 500ms;
}

.navbar .logo{
 display: flex;
 margin-top: 20px;
}

.navbar .logo img {
  height: 45px;
  width: 25px;
  margin-top: -20px;
  margin-right: 10px;
}

.navbar .navbar-logo h1 {
  font-family: sans-serif 'Poppins';
  font-style: medium;
  font-size: 28px;
  color: rgb(0, 0, 0);
  word-spacing: -3px;

 
}

.navbar .navbar-nav {
  float: right;
  margin-top: -25px;
}

.navbar .navbar-nav ul li{
  color: #000000;
  display: inline-block;
  font-size: 16px;
  margin: 0 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-style: bold;
}

.navbar .navbar-nav a {
  color:#000000;
  letter-spacing: 1px;
  font-style: bold;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav li::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav li:hover::after {
  transform: scaleX(0.5);
}

.hide-navbar {
  transform: translateY(-100%);
  transition-duration: 500ms;
}

/* materi */

.materi {
  display: flex;
flex-direction: column;
margin: 0 auto;
gap: 20px;
position: relative;
width: 60%;
top: 90px;
}

.materi .tulisan {
  margin-top: 10px;
}

.materi p{
  color: #000000;
  font-family: sans-serif 'poppins';
  font-size: 18px;
  align-content: center;
  text-align: justify;
  gap: 20px;
}

.materi .judul h1{
  color: #000000;
  font-family: sans-serif 'poppins';
  font-size: 35px;
  /* text-align: center; */
  margin-top: 50px;
  margin-bottom: 50px;
}

.materi .judul img {
  width: 100%;  
  margin-bottom: 20px;
}

.materi .gambar img{
  display: block;
  width: 350px;
  height: 280px;
  margin-top: 10px; 
  margin-right: 20px; 
  margin-bottom: 20px;
  float: left;
  border-radius: 10px;
}

.gambar-link {
  display: block;
  margin-top: 10px;
}


.materi .gambar p {
  margin-top: 10px; 
}

.gambar-link {
  position: absolute;
  bottom: 120px;
  text-decoration: underline;
  text-align: center;
  margin-left: 15px;
  font-size: 14px;
}
/* materi */

/* Link materi */

.materi-bersangkutan {
  display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

width: 245px;
height: 47px;
margin-left: 240px;
margin-top: 400px;
margin-bottom: 40px;

/* Brown/Hover

AF7D4F
*/
background: #B07E4F;
border-radius: 10px;
}

h1 {
  color: #000;
  font-family: sans-serif 'Poppins';
}

.pengertian  h1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tujuan h1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.manfaat  h1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.macam-simpul h1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.macam-ikatan h1{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contoh-model h1{
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.macam-simpul ol {
  color: #000;
  color: #000;
  font-family: sans-serif 'Poppins';
  font-size:18px;
  margin-top: 30px;
  padding-left: 50px;
  line-height: 50px;
}

.macam-simpul ol p {
  margin-top: -20px;
}

.macam-ikatan ul {
  color: #000;
  color: #000;
  font-family: sans-serif 'Poppins';
  font-size:18px;
  margin-top: 30px;
  padding-left: 50px;
  line-height: 50px;
}

.macam-ikatan ul p {
  margin-top: -5px;
  margin-bottom: 20px;

  line-height: 25px;
}

.contoh-model ul {
  color: #000;
  color: #000;
  font-family: sans-serif 'Poppins';
  font-size:18px;
  margin-top: 30px;
  padding-left: 50px;
  line-height: 50px;
}

.contoh-model ul p {
  margin-top: -20px;
  margin-bottom: 20px;
  /* margin-left: 330px; */
  font-size: 16px;
  text-align: center;
}

.contoh-model h3 {
  font-size: 30px;
}

.contoh-model img {
  width: 500px;
  height: 400px;
  margin-top: 30px;
  margin-left: 140px;
  border-radius: 10px;
  
}

.manfaat ol{
  color: #000;
  font-family: sans-serif 'Poppins';
  font-size:18px;
  margin-top: 20px;
  padding-left: 50px;
  line-height: 30px;
}
.link-materi {
  display: flex;
  margin: 0 auto;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}

.card-materi {
  margin: 30px;
  position: relative;
}

.card-materi img {
  border-radius: 10px;
  width: 250px;
  height: 180px;
}

.card-materi h4 {
  width: 250px;
  height: 70px;
  color: #8d4c0f;
}

.card-materi h4:hover {
  color: #000;
}







/* footer */
.container-footer {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  margin-top: 580px;
  background-color: #251a11;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(255, 238, 0, 0.8);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li  {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: rgba(255, 238, 0, 0.8);
  padding-left: 8px;
}
.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 10px 10px 0;
  transition: all 0.5s ease;
}
.footer-col .social-media a:hover {
  color: rgba(0, 3, 255, 0.8);
  background-color: rgba(236, 236, 236, 0.8);
}
.fixed-footer {
    width: 100%;
    height: 45px;
    position: relative;
    background: #000000;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }
  .container-bawah .fixed-footer {
    bottom: 0;
  }
